* {
  margin: 0;
  padding: 0;
  font-family: montserat, serif;
}

.preview-container {
  background-image: url("images/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.preview-container .dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}
.preview-container .dashboard-container .empty-left {
  width: 600px;
}
.preview-container .dashboard-container .container-menu button {
  border: 2px solid rgba(255, 255, 255, 0);
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.5s;
}
.preview-container .dashboard-container .container-menu button:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.preview-container .container-content {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.preview-container .container-content .pre-title {
  font-size: 16px;
  font-weight: 500;
}
.preview-container .container-content .title {
  font-size: 48px;
  width: 800px;
  text-align: center;
  font-weight: 800;
  margin-top: 20px;
}

.btn-main {
  width: 200px;
  height: 45px;
  background: #4985FF;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  cursor: pointer;
}

.description-container {
  margin-bottom: 5%;
}
.description-container .title {
  font-size: 36px;
  text-align: center;
  margin-top: 5%;
  width: 50%;
}
.description-container .description {
  width: 50%;
  text-align: center;
  color: #999999;
  font-size: 16px;
}
.description-container .container-content .content-web {
  width: 30%;
}
.description-container .container-content .img-logo {
  width: 110px;
  height: 110px;
}
.description-container .container-content .content-text {
  width: 100%;
  margin-top: 20px;
  margin-left: 10px;
}
.description-container .container-content .title {
  font-size: 18px;
  font-weight: 600;
  text-align: start;
}
.description-container .container-content .description {
  text-align: start;
  width: 100%;
}

.company-description {
  background-color: #F6F6F8;
  width: 100%;
  padding: 100px 0 100px 0;
}
.company-description .content-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #E0E0E0;
}
.company-description .img {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 100px;
}
.company-description .title {
  font-size: 36px;
  font-weight: 700;
  width: 80%;
}
.company-description .description {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  width: 80%;
}
.company-description .link {
  text-decoration: underline;
  color: #4985FF;
  cursor: pointer;
}

.projects-grid {
  margin-top: 5%;
}
.projects-grid .logo-img {
  width: 30px;
  height: 30px;
}
.projects-grid .text-content {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  margin: 0;
}
.projects-grid .our-projects {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.container-specialization {
  width: 100%;
  height: 900px;
  position: relative;
}
.container-specialization .purple {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  margin-right: 333px;
}
.container-specialization .top-side {
  position: relative;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.container-specialization .top-side h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  width: 30%;
  margin-right: 20%;
}
.container-specialization .top-side button {
  margin: 0 10% 0 0;
}
.container-specialization .bottom-side {
  position: relative;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 3%;
}
.container-specialization .bottom-side .content-team {
  width: 350px;
  margin-right: 5%;
}
.container-specialization .bottom-side h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 5%;
}
.container-specialization .bottom-side h3 span {
  color: #4985FF;
}
.container-specialization .bottom-side .description {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-top: 5%;
}
.container-specialization .bottom-side .more {
  text-decoration: underline;
  color: #4985FF;
  cursor: pointer;
}

.projects-container {
  width: 100%;
  min-height: 776px;
  background-color: #F6F6F8;
}
.projects-container h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
}
.projects-container p {
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.video-container .container-top {
  min-height: 570px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("images/5.png");
  color: #FFFFFF;
}
.video-container .container-top h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  padding-top: 5%;
}
.video-container .container-top p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding-top: 3%;
}
.video-container .container-top .line {
  border: 1px solid #E0E0E0;
  width: 50%;
  margin-top: 100px;
}

@font-face {
  font-family: "montserat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

/*# sourceMappingURL=output.css.map */
